<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
    <title>ประวัติการใช้งาน AED</title>
</head>
<body>
    <h1 class="text-2xl my-2">ประวัติการแจ้งใช้งานเครื่อง AED</h1>
    {{range $element := .historyData}}
    <div class="max-w-md mx-auto my-3 bg-white rounded-xl shadow-md overflow-hidden md:max-w-2xl">
        <div class="md:flex">
          <div class="p-8">
            <p class="block mt-1 text-2xl leading-tight font-medium text-black">วันที่ {{ $element.CreateAtFormate}}</p>
            <p class="block mt-1 text-2xl leading-tight font-medium text-black">สถานที่: {{ $element.AddressName }} </p>
            <p class="block mt-1 text-2xl leading-tight font-medium text-black">สถานะเครื่อง: {{ $element.AedStatus }}</p>
            <p class="block mt-1 text-2xl leading-tight font-medium text-black">Serial: {{ $element.SerialNumber }}</p>
            <p class="block mt-1 text-2xl leading-tight font-medium text-black">ชื่อผู้แจ้ง: {{ $element.NameInformant }}</p>
            <p class="block mt-1 text-2xl leading-tight font-medium text-black">เบอร์ผู้แจ้ง: {{ $element.PhoneInformant }}</p>
            <p class="block mt-1 text-2xl leading-tight font-medium text-black">โรงพยาบาล: {{ $element.HospitalName }}</p>
            <p class="block mt-1 text-2xl leading-tight font-medium text-black">เบอร์โรงพยาบาล: {{ $element.HospitalPhone }}</p>
            <p class="block mt-1 text-2xl leading-tight font-medium text-black">{{$element.Location.latitude}}</p>
            <p class="block mt-1 text-2xl leading-tight font-medium text-black">{{$element.Location.longitude}}</p>
            <a class="block mt-1 text-2xl  leading-tight font-medium text-blue" target="_blank" href="https://www.google.com/maps/search/?api=1&query={{ $element.Location.latitude }},{{ $element.Location.longitude }}">พิกัดจาก google map</a>
        </div>
        </div>
      </div>
      {{end}}
</body>
</html>